{{define "footer"}}
  	<script src="components/js/leaflet.contextmenu.js"></script>
    <script src="components/js/jquery-1.10.2.js"></script>
    <script src="components/js/jquery-ui.js"></script>
    <script src="components/js/List.js"></script>
    <script src="components/js/MapsterFinal.js"></script>
    <script src="components/js/map-options-Final.js"></script>
    <script src="components/js/jqueryui.mapster.js"></script>
    <script src="components/js/script.js"></script>
</body>

</html>
{{end}}