{{define "header"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name="description" content="PASMO MAPS" />
		<title> PASMO FRONTEND</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <link rel="stylesheet" href="components/css/leaflet.css"/>
    <link rel="stylesheet" href="components/css/leaflet.contextmenu.css"/>

 <script src="components/js/leaflet.js"></script>
  	<!-- In <head> -->
  <link rel="stylesheet" href="components/css/style.css" />
  <link rel="stylesheet" href="components/css/MarkerCluster.css" />
  <link rel="stylesheet" href="components/css/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="components/css/leafletdraw.css"/>
 

    <script src="components/js/draw/Leaflet.draw.js"></script>
    <script src="components/js/draw/Leaflet.Draw.Event.js"></script>

    <script src="components/js/draw/Toolbar.js"></script>
    <script src="components/js/draw/Tooltip.js"></script>

    <script src="components/js/draw/GeometryUtil.js"></script>
    <script src="components/js/draw/LatLngUtil.js"></script>
    <script src="components/js/draw/LineUtil.Intersect.js"></script>
    <script src="components/js/draw/Polygon.Intersect.js"></script>
    <script src="components/js/draw/Polyline.Intersect.js"></script>
    <script src="components/js/draw/TouchEvents.js"></script>

    <script src="components/js/draw/DrawToolbar.js"></script>
    <script src="components/js/draw/Draw.Feature.js"></script>
    <script src="components/js/draw/Draw.SimpleShape.js"></script>
    <script src="components/js/draw/Draw.Polyline.js"></script>
    <script src="components/js/draw/Draw.Marker.js"></script>
    <script src="components/js/draw/Draw.Circle.js"></script>
    <script src="components/js/draw/Draw.CircleMarker.js"></script>
    <script src="components/js/draw/Draw.Polygon.js"></script>
    <script src="components/js/draw/Draw.Rectangle.js"></script>


    <script src="components/js/draw/EditToolbar.js"></script>
    <script src="components/js/draw/EditToolbar.Edit.js"></script>
    <script src="components/js/draw/EditToolbar.Delete.js"></script>

    <script src="components/js/draw/Control.Draw.js"></script>

    <script src="components/js/draw/Edit.Poly.js"></script>
    <script src="components/js/draw/Edit.SimpleShape.js"></script>
    <script src="components/js/draw/Edit.Rectangle.js"></script>
    <script src="components/js/draw/Edit.Marker.js"></script>
    <script src="components/js/draw/Edit.CircleMarker.js"></script>
    <script src="components/js/draw/Edit.Circle.js"></script>
  
  <script src="components/js/leaflet.markercluster-src.js"></script>
    <script src="components/js/latitude.js"></script>
    <script src="components/js/longitude.js"></script>
	</head>
<body>


{{end}}
