<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <link rel="stylesheet" href="css/leaflet.css"/>
    <link rel="stylesheet" href="css/leaflet.contextmenu.css"/>

 <script src="js/leaflet.js"></script>
  	<!-- In <head> -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/MarkerCluster.css" />
  <link rel="stylesheet" href="css/MarkerCluster.Default.css" />
  <script src="js/leaflet.markercluster-src.js"></script>
  <link rel="stylesheet" href="css/leafletdraw.css"/>
  <script src="js/leafletdraw.js"></script>

    <script src="js/latitude.js"></script>
    <script src="js/longitude.js"></script>
</head>

<body>
  <div id="mapid" style="width: 100%; height: 100%;"></div>
    <script src="js/leaflet.contextmenu.js"></script>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/List.js"></script>
    <script src="js/Mapster.js"></script>
    <script src="js/map-options.js"></script>
    <script src="js/jqueryui.mapster.js"></script>
    <script src="js/script.js"></script>
</body>

</html>